---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=chinese&location=portland,or
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer FvgnaP_TFVW6aouweZRUJqQjCfq9lV8JVu47CunGc7Y5JHr9kX5jptje7gq46zj-7tAsG5FtkUhYWuwyIQyR3EicTpsKBsuM_5ofzReAfOILflBbGpqH5KkuKCXxYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4993'
      X-Routing-Service:
      - routing-main--uswest2-5569564ccc-sjl4t; site=public_api_v3
      Ratelimit-Resettime:
      - '2022-08-09T00:00:00+00:00'
      X-Zipkin-Id:
      - fbd27d8418828dca
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-185-39-uswest2bprod
      X-Extlb:
      - 10-69-185-39-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "C9C79-5egg1_yaUAxrJxLA", "alias": "bing-mi-food-truck-portland-2",
        "name": "Bing Mi Food Truck", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/54LHtu8evmVc5AcE1ewXjQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/bing-mi-food-truck-portland-2?adjust_creative=SZ9BFPG80XnSozGB7Um4Tg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SZ9BFPG80XnSozGB7Um4Tg",
        "review_count": 443, "categories": [{"alias": "foodtrucks", "title": "Food
        Trucks"}, {"alias": "chinese", "title": "Chinese"}, {"alias": "creperies",
        "title": "Creperies"}], "rating": 4.5, "coordinates": {"latitude": 45.5362156,
        "longitude": -122.7000932}, "transactions": ["delivery"], "price": "$$", "location":
        {"address1": "1845 NW 23rd Pl", "address2": "", "address3": "", "city": "Portland",
        "zip_code": "97210", "country": "US", "state": "OR", "display_address": ["1845
        NW 23rd Pl", "Portland, OR 97210"]}, "phone": "+19719302968", "display_phone":
        "(971) 930-2968", "distance": 4241.52395841751}, {"id": "0lXTBIqLkPtSyKQDOYeosQ",
        "alias": "mama-chows-kitchen-portland", "name": "Mama Chow''s Kitchen", "image_url":
        "https://s3-media3.fl.yelpcdn.com/bphoto/tJvc3tQqP6PMbffajGDwRQ/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/mama-chows-kitchen-portland?adjust_creative=SZ9BFPG80XnSozGB7Um4Tg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=SZ9BFPG80XnSozGB7Um4Tg",
        "review_count": 243, "categories": [{"alias[...]
