---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=866ed33741e8c704846e8d0c12775166&lat=-20&lon=40&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":-20,"lon":40,"timezone":"Etc/GMT-3","timezone_offset":10800,"current":{"dt":1659936169,"sunrise":1659930376,"sunset":1659971109,"temp":73.31,"feels_like":73.49,"pressure":1019,"humidity":67,"dew_point":61.7,"uvi":0.73,"clouds":0,"visibility":10000,"wind_speed":11.99,"wind_deg":154,"wind_gust":11.88,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1659934800,"temp":73.31,"feels_like":73.49,"pressure":1019,"humidity":67,"dew_point":61.7,"uvi":0.73,"clouds":0,"visibility":10000,"wind_speed":11.99,"wind_deg":154,"wind_gust":11.88,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1659938400,"temp":73.36,"feels_like":73.54,"pressure":1019,"humidity":67,"dew_point":61.75,"uvi":2.28,"clouds":0,"visibility":10000,"wind_speed":11.3,"wind_deg":146,"wind_gust":11.18,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1659942000,"temp":73.49,"feels_like":73.69,"pressure":1019,"humidity":67,"dew_point":61.86,"uvi":4.55,"clouds":0,"visibility":10000,"wind_speed":10.58,"wind_deg":138,"wind_gust":10.58,"weather":[{"id":800,"ma[...]
