---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=866ed33741e8c704846e8d0c12775166&lat=-20&lon=40&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":-20,"lon":40,"timezone":"Etc/GMT-3","timezone_offset":10800,"current":{"dt":1659979887,"sunrise":1659930376,"sunset":1659971109,"temp":74.68,"feels_like":74.8,"pressure":1019,"humidity":63,"dew_point":61.25,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.11,"wind_deg":356,"wind_gust":3.87,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1659978000,"temp":74.66,"feels_like":74.79,"pressure":1019,"humidity":63,"dew_point":61.23,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.22,"wind_deg":6,"wind_gust":3.83,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1659981600,"temp":74.68,"feels_like":74.8,"pressure":1019,"humidity":63,"dew_point":61.25,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.11,"wind_deg":356,"wind_gust":3.87,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1659985200,"temp":74.66,"feels_like":74.79,"pressure":1019,"humidity":63,"dew_point":61.23,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":2.77,"wind_deg":326,"wind_gust":3.15,"weather":[{"id":800,"main":"Clear[...]
